.teamsMainLayout {
	max-width: 1024px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-block: 60px;
}

@media (width < 769px) {
	.teamsMainLayout {
		max-width: 100%;
		margin-inline: 0;
		gap: 20px;
		padding-block: 28px;
		padding-inline: 16px;
	}
}
