.codersHeader {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.codersHeader > div:first-of-type {
	width: 450px;
}

@media (width < 769px) {
	.codersHeader {
		gap: 12px;
	}
	.codersHeader > div:first-of-type {
		width: 100%;
	}
}
