.container {
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 72px);
}

.terminal {
	border: 2px solid var(--accent);
	padding: 40px;
	max-width: 500px;
	width: 100%;
	background-color: var(--card);
}

.header {
	text-align: center;
	margin-bottom: 40px;
}

.title {
	font-size: var(--text-header-sm);
	color: var(--terminal-green);
}

.subtitle {
	font-size: var(--text-main-regular);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	font-size: var(--text-main-sm);
	color: var(--terminal-dark-green);
}

.footer {
	text-align: center;
	margin-top: 30px;
}

.signupText {
	font-size: var(--text-main-sm);
}

.link {
	color: var(--terminal-bright-green);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s ease;
}

.link:hover {
	border-bottom: 1px solid var(--terminal-bright-green);
	text-shadow: 0 0 5px var(--terminal-bright-green);
}

@media (max-width: 600px) {
	.terminal {
		padding: 20px;
		margin: 10px;
	}

	.title {
		font-size: 1.5rem;
	}
}
