.profileCard {
	display: flex;
	flex-direction: column;
	padding: 18px;
	gap: 18px;
	border: 1px solid var(--card-foreground);
	background-color: var(--card);
	box-shadow: var(--glow-secondary);
	transform: translateY(0);
	transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}
.profileCard:hover {
	box-shadow: var(--glow-primary);
	transform: translateY(-3px);
}
.profileCard > header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.profileCard > header::after {
	content: '';
	width: 150px;
	border-bottom: 1px solid var(--card-foreground);
	margin-inline: auto;
	padding-top: 12px;
}
.profileCard h4 {
	font-size: var(--text-main-lg);
}
.profileCard > header div:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profileCard > header div:last-child {
	display: flex;
	gap: 4px;
}
.profileCard > header div:last-child p {
	line-height: 1;
	padding-right: 8px;
	font-size: var(--text-main-sm);
}
.profileCard > header div:last-child p:first-of-type {
	border-right: 1px solid var(--terminal-dark-green);
}
.profileCard > header div:last-child p:last-of-type {
	padding-right: 0;
	padding-left: 4px;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.profileStatus {
	display: flex;
	align-items: center;
	font-size: var(--text-main-sm);
	gap: 8px;
}
.profileStatus div {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: var(--terminal-dark-green);
	animation: status-blinking 1.5s infinite;
	box-shadow: var(--glow-secondary);
}

@keyframes status-blinking {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}
