.teamCard {
	display: flex;
	flex-direction: column;
	padding: 18px;
	gap: 18px;
	border: 1px solid var(--card-foreground);
	background-color: var(--card);
	box-shadow: var(--glow-secondary);
	transform: translateY(0);
	transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}
.teamCard:hover {
	box-shadow: var(--glow-primary);
	transform: translateY(-3px);
}
